<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh</string>
		<string>zh_TW</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>该应用需要使用通知，以便为你演示相关通知功能</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>搜索</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>查看当前设备信息</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>设备</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ViewDeviceInfo</string>
		</dict>
	</array>
</dict>
</plist>
